body{
	margin: 0;
	font-family: Helvetica, Arial, sans-serif;
}

header{
	background-color: black;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	max-height: 100%;
}

header h1{
	color:  white;
}

header img{
	max-width: 200px;
}

main{
	max-width: 800px;
	margin: 0 auto;
	padding: 0 20px;
	font-size: 20px;
	line-height: 30px;
}

main img{
	max-width: 100%;
}

footer{
	max-width: 800px;
	margin: 0 auto;
	padding: 0 20px;
}